<%- extend ('layout/layout',{title: 'piezas'}) %> <%- include ('partials/nav')%>
<div class="div-p-4"></div>
<h1 class="text-center">Piezas de <%= equipo[0].equipo %></h1>

<div class="container">
  <div class="row">
    <div
      class="col-12 col-md-8 d-flex justify-content-between align-items-center"
    >
      <input type="text" value="<%= id %>" id="idMaquina" hidden />
      
        <input type="text" id="search" class="form-control" />
        <button id="btnSearch" class="btn btn-warning">
          <i class="fas fa-search"></i>
        </button>
      
    </div>
  </div>
</div>

<!-- Central Modal Small -->
<div
  class="modal fade"
  id="centralModalSm"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-sm" role="document">
    <form id="form">
      <div class="modal-content">
        <div class="modal-header mb-0">
          <p class="w-100" id="myModalLabel">Agrega una herramienta</p>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            id="notificacionAdd"
            class="text-center alert alert-info p-1 d-none"
          >
            Pieza agregada con exito
            <button id="notificacionRemove" class="close">
              <span id="notificacionRemove" aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="">
            <select
              class="form-control mb-1 custom-select"
              _msthash="2736318"
              _msttexthash="1130220"
              id="subsistema"
            >
              <option selected="" _istranslated="1" disabled>
                Tipo de pieza
              </option>
              <option value="Mecanica">Mecanicas</option>
              <option value="Manual">Manual</option>
              <option value="Hidraulica">Hidraulica</option>
              <option value="Electrica">Electrica</option>
            </select>
          </div>
          <div>
            <input
              type="text"
              id="nombre_pieza"
              class="form-control mb-1"
              placeholder="Nombre de la piezas"
            />
            <input type="text" id="pieza_equipo_id" value="<%= id %>" hidden />
          </div>
          <div>
            <input
              type="text"
              id="detalles"
              class="form-control mb-1"
              placeholder="Detalles"
            />
          </div>
          <div>
            <input
              type="text"
              id="funcionamiento"
              class="form-control mb-1"
              placeholder="Funcionamiento"
            />
          </div>
          <div class="row px-3 mb-1 justify-content-between">
            <input
              type="text"
              id="codificacion"
              onkeyup="validateCod(this)"
              class="form-control w-50"
              placeholder="Codificacion"
            />
            <input
              type="text"
              id="medidas"
              class="form-control w-45"
              placeholder="Medidas"
            />
          </div>
          <p class="alert alert-danger d-none w-50 mb-1" id="msgCod"></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            onclick="$('#form')[0].reset();"
            class="btn btn-warning btn-sm"
            data-dismiss="modal"
          >
            Cerrar
          </button>
          <button id="savePieza" type="submit" class="btn btn-primary btn-sm">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Central Modal Small -->
<div class="p-4"></div>
<!-- Tabla-->

<div class="container-fluid mt-3">
  <div class="card">
    <table class="table table-hover table-sm text-center text-capitalize">
      <thead>
        <tr>
          <th>N°</th>
          <th>nombre</th>
          <th>codificacion</th>
          <th>detalles</th>
          <th>subsistema</th>
        </tr>
      </thead>
      <tbody id="listMachine"></tbody>
    </table>
  </div>
</div>
<!-- <--Tabla -->
<div class="caja primary-color c-hand">
  <i class="fas fa-plus" data-toggle="modal" data-target="#centralModalSm"></i>
</div>
<script src="/piezas.js"></script>
